.footer--flexbox {
    width: 100%;
    height: 80px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer--links {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .footer--submit {
    font-family: "Bebas Neue", cursive;
    font-size: 1.1rem;
  }

  .footer--button {
    width: 86.5%;
    height: 30px;
    font-family: "Bebas Neue", cursive;
    font-size: 1.1rem;
  }
 