* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   _outline: 1px dotted green;
  }

  
  body {
    background-color: #ffffff;
    font-family: "Bebas Neue", cursive;
  }
  
  h1 {
    color: black;
    font-weight: bold;
    font-size: 650%;
    padding-left: 15%;
  }
  
  .project-font {
    font-size: 6rem;
    bottom: 70px;
    text-align: center;
  }  

  .flexbox1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
  }
