  .section--link {
    text-decoration: none;
  }
  
  .section--link:visited {
    color: black;
  }
  
  .navi:visited,
  .footer--links:visited {
    color: white;
  }
  
  .navi:link,
  .section--link:link {
    color: #000;
  }
  
  .footer--links:hover {
    color: black;
  }
  
  .navi:hover,
  .section--link:hover {
    color: grey;
  }
  
  .navi:active,
  .section--link:active {
    color: black;
  }
  