.projectPics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .xaltike {
    width: 300px;
    height: auto;
  }

  .xaltike2 {
    width: 500px;
    height: auto;
  }

  .dali {
    width: 300px;
    height: auto;
  }

  .biggi {
    width: 252px;
    height: auto;
  }

  .telephone {
    position: absolute;
    width: 350px;
    height: auto;
    left: 28%;
    top: 235.5%;
    z-index: -11;
  }

