/* comoponents */
@import "./css/grid.css";
@import "./css/footer.css";
@import "./css/header.css";
@import "./css/main.css";
@import "./css/nav.css";
@import "./css/pics.css";
@import "./css/designs.css";
@import "./css/forms.css";

  /*----- ABOUT ME ------*/

  .box {
    border: 1px solid pink;
}

  .information {
    padding-top: 210px;
    display: flex;
  }

  .navlist {
    list-style-type: none;
    font-size: 2rem;
  }
  
  .main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .navi {
    text-decoration: none;
    font-size: 150%;
    margin-right: 35px;
  }
  
  .icon {
    width: 20%;
  }
  
  .social-links {
    font-size: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 10;
  }